<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casa Mia Montessori School Suggestion Form</title>
</head>

<body>
    <h1>Casa Mia Montessori School</h1>
    <h2>Suggestion form</h2>
    <div>
        <h2>A sub heading</h2>
    </div>
    <div>Form goes here
        <Form:post>
            <div>
                <label for="">Name (can be anonymous)</label><br>
                <input type="text" id="user_name">
            </div>
            <div>
                <label for="">Feedback<br></label>
                <input type="text" name="" id="user_feedback" height="400" width="300">
            </div>
            <div>
                <input type="button" value="Submit" id="form_button">
            </div>
        </Form:post>
    </div>
</body>

</html>